# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Configs with secrets
config.json

# Data files
servers.json
monitor.json
backup/
keys/
scripts/

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp